body {
    background-color: #EAF6F6;
}
hr{
border-style: dotted none none none;;
height: 0px;
width: 6%;
border-color:#E5FDD1 ;
border-width: 5px;
}
img{

}
h3{
    color: #66bfbf;
    
}
h1{
    color: #66bfbf;

  

} 